<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <button id="useLocation">Use my location</button>
        <form>
            <input placeholder=Location>
            <button>Check Weather</button>
        </form>
        <img class="icon" src="/img/clear-day.png">
        <p id="locid"></p>
        <p id="forid"></p>
        <p id="forTemps"></p>
        <p class="alert"></p>
    </div>

    {{>footer}}

    <script src="js/app.js"></script>
</body>


</html>